 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">My Order</h2>
                            
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                    
                                        <li class="breadcrumb-item active" aria-current="page">My Order</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- data table  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">My Order</h5>
                             
                            </div>
                            <div class="card-body">
                                 <div class="table-responsive">
                                    <table id="example" class="table table-striped table-bordered second" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>SALES PERSON</th>
                                                <th>P.O.</th>
                                                <th>SHIP DATE</th>
                                                <th>SHIPPING TYPE</th>
                                                <th>F.O.B.</th>
                                                <th>TERMS</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                    
                                            <tr>

                                                <td>{{user}}</td>
                                                <td>{{context.billdate}}</td>
                                                <td>{{context.patientname}}</td>
                                                <td>{{context.totalbill}}</td>
                                                <td>{{context.billprocedure}}</td>
                                                <td>{{terms}}</td>
                                            </tr>
                                     
                                 
                                         
                                        </tfoot>
                                    </table>
                                </div>

                                <br>
                                <div class="table-responsive">
                                    <table id="example" class="table table-striped table-bordered second" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ITEM #</th>
                                                <th>DESCRIPTION</th>
                                                <th>QTY</th>
                                                <th>UNIT PRICE</th>
                                                <th>EXTENDED PRICE</th>
                                                
                                              
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for i in context%}
                                            <tr>

                                                <td>{{i.ITEM}}</td>
                                                <td>{{i.DESCRIPTION}}</td>
                                                <td>{{i.QTY}}</td>
                                                <td>{{i.UNITPRICE}}</td>
                                                <td>{{i.EXTENDEDPRICE}}</td>

                                            </tr>
                                            {% endfor%}

                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td colspan ="3"><b>PERTINENT FAQS</b></td>
                                                <td colspan ="1">SUBTOTAL</td>
                                                <td colspan ="1">{{totalprice}}</td>


                                            </tr>
                                            <tr>
                                                <td colspan ="3"><b>1. </b><span style="font-size: 12px"> TOTAL PAYMENT IS DUE 15 DAYS FROM INVOICE DATE.</span></td>
                                                <td colspan ="1">TAX RATE</td>
                                                <td colspan ="1"></td>

                                            </tr>
                                            <tr>
                                                <td colspan ="3"><b>2. </b><span style="font-size: 12px"> MAKE CHECKS PAYABLE TO THE TOOL GUYS LLC. </span></td>
                                                 <td colspan ="1">TAX</td>
                                                <td colspan ="1"></td>

                                            </tr>
                                            <tr>
                                                <td colspan ="3"><b>3.</b><span style="font-size: 12px">  PLEASE INCLUDE INVOICE NUMBER ON CHECK</span></td>
                                                <td colspan ="1">FRT</td>
                                                <td colspan ="1"></td>

                                            </tr>
                                     
                                         <tr>
                                                <td colspan ="3" ><b>4.</b> .<span style="font-size: 12px">HOW TO CLAIM YOUR $100? GO TO https://buy.stripe.com/eVaaFccyp5Luca428a
AND SIMPLY PAY YOUR INVOICE USING THIS LINK AT LEAST 1 DAY EARLY AND YOUR ACCOUNT WILL
AUTOMATICALLY GAIN $100 SPENDING CREDIT FOR ANY FUTURE ORDER</span> </td>
                                                 <td colspan ="1">HH</td>
                                                <td colspan ="1"></td>

                                            </tr>
                                     

                                 
                                         
                                        </tfoot>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end data table  -->
                    <!-- ============================================================== -->
                </div>
              
               
               
            </div>
 